<section id="apply" class="apply-container">
  <div class="row">
    <div class="columns large-8 large-centered medium-9 medium-centered content">
      <article>
        <h1>我要申请</h1>
        <p>如果你想申请香港的学校，或者对香港的学校有兴趣请放心地发信给小猪老师吧，小猪老师会第一时间回复你！预祝大家求学香港之旅成功愉快！</p>
        <p class="contact">
          <b>咨询电话</b>
          <br>
          <a href="tel:010-8771-2446">010-8771-2446</a>
        </p>
      </article>

      <div class="row">
        <div class="columns large-9 large-centered medium-12">
          <form id="apply-form">
            <input name="name" type="text" placeholder="姓名" title="姓名" required />
            <input name="email" type="email" placeholder="邮箱" title="邮箱" required />
            <input name="phone" type="text" pattern="(+86)?\d{11}" title="手机" placeholder="手机" />
            <input name="subject" type="text" placeholder="主题" title="主题" required />
            <textarea name="content" rows="5" required title="内容" placeholder="请简单介绍自己的情况，诸如：现在的就读学校；在班上的成绩；如果有语言成绩也请提供。"></textarea>
            <input type="submit" class="expanded button" value="提交">
          </form>

          <div class="callout success" style="display:none;">
            <h5>谢谢您的申请，我会尽快给您回复！</h5>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
