<footer>
  <div class="share-container small">
    <div class="share">
      <div class="share-btn">
        <a target="_blank" href="https://weibo.com/kuronoah" class="weibo-s icon"></a>
      </div>
      <div class="share-btn">
        <a target="_blank" href="https://www.facebook.com" class="fb-s icon"></a>
      </div>
      <div class="share-btn">
        <a target="_blank" href="http://tieba.baidu.com/f?kw=%E5%B0%8F%E7%8C%AA%E5%BF%AB%E9%A3%9E%E7%95%99%E5%AD%A6" class="baidu-s icon"></a>
      </div>
    </div>
  </div>
  <div class="copyright">
    © 2016 by PigZhu.   www.hkapply.com all rights reserved
  </div>
</footer>
