<section id="introduction" class="introduction-container">
  <div class="row">
    <div class="columns large-8 large-centered medium-9 medium-centered content">
      <article>
        <h1>小猪是谁？</h1>
        <p>小猪老师，学名朱一明，本科毕业于<strong>香港科技大学物理系</strong>，属于香港科大第一届像模像样花大价钱从清华北大挖的本科生，不然小猪老师就要去<strong>北大物理系</strong>埋头苦读，小猪老师从高中开始就已经是学霸一枚，因为获得<strong>第二十二届全国物理竞赛银牌</strong>而保送北大物理系。本科期间作为交换生远赴日本<strong>大阪大学</strong>，所以小猪老师偶尔也帮助学生申请日本的一流学校。</p>

        <p>小猪老师硕士同样就读于香港科技大学，获得<strong>哲学硕士</strong>学位，做过研究，写过文章，卖过保险。</p>

        <p>在香港待满七年以后顺利拿到香港身份，从此拿着香港护照蛮世界地飞不用办签证何其爽哉！后归故里，加入了<strong>北京新东方总部</strong>，在前途出国亚洲部折腾两年，在小猪老师手上大批的同学获得了香港各大高校的本科、硕士、博士学位，成功率达到<b>97%</b>，成为留学圈港校申请一霸，人称（微博）猪一名老西。</p>

        <p>
  玩转香港申请的小猪老师自然而然地从新东方出来单干啦，希望可以把我优秀地香港高校申请经验分享给大家，小猪老师带大家飞！</p>
      </article>
      <figure>
        <img src="/static/images/barcode.jpg" alt="barcode" width="180" />
        <figcaption>欢迎大家扫描二位码关注小猪快飞微信</figcaption>
      </figure>
    </div>
  </div>
</section>
