<section id="home" class="logo-container">
  <div class="content">
    <figure>
      <img src="/static/images/logo.png" width="308" alt="logo" title="小猪快飞" />
    </figure>
    <div class="share-container">
      <div class="share">
        <div class="share-btn">
          <a target="_blank" href="https://weibo.com/kuronoah" class="weibo icon"></a>
        </div>
        <div class="share-btn">
          <a target="_blank" href="https://www.facebook.com" class="fb icon"></a>
        </div>
        <div class="share-btn">
          <a target="_blank" href="http://tieba.baidu.com/f?kw=%E5%B0%8F%E7%8C%AA%E5%BF%AB%E9%A3%9E%E7%95%99%E5%AD%A6" class="baidu icon"></a>
        </div>
      </div>
    </div>
  </div>
</section>
