<!-- Small Navigation -->
<div class="title-bar show-for-small-only">
  <button class="menu-icon" type="button"></button>
  <div class="title-bar-title">Menu</div>
</div>

<!-- Medium-Up Navigation -->
<nav class="top-bar" id="nav-menu">

  <div class="top-bar-section">
    <ul class="menu">
      <li><a href="#home">主页</a></li>
      <li><a href="#service">服务内容</a></li>
      <li><a href="#story">成功案例</a></li>
      <li><a href="#who">小猪是谁</a></li>
      <li><a href="#apply">我要申请</a></li>
    </ul>
  </div>

</nav>
