<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
  <meta name="author" content="Guangda Zhang">
  <title>{% block title %}小猪快飞|专注留学香港的申请专家{% endblock %}</title>
  <meta property="og:title" content="小猪快飞|专注香港留学的申请专家" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://www.hkapply.com/" />
  <meta property="og:site_name" content="小猪快飞|专注香港留学的申请专家" />
  <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon.png">

  {% block head %}
  {% if env.production %}
    {% if env.inlineCss %}
    <style type="text/css">
    {% include env.inlineCssSrc %}
    </style>
    {% else %}
    <link rel="stylesheet" type="text/css" href="{{ env.assets.main.css }}">
    {% endif %}
  {% else %}
  <link rel="stylesheet" type="text/css" href="static/main.css">
  {% endif %}
  {% endblock %}

  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
  <![endif]-->
</head>
<body>
  {% block content %}{% endblock %}

  {% if env.production %}
  <script src="{{ env.assets.main.js }}"></script>
  {% else %}
  <script src="static/main.js"></script>
  {% endif %}

</body>
</html>
